@import 'breadcrumbs-icons.scss';
@import 'bower_components/vui-link/link.scss';
@import 'bower_components/vui-typography/small-text.scss';

@mixin vui-breadcrumbs() {
	@include vui-typography-small-text;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none outside none;
	& > li,
	& > div,
	& > span {
		background-color: transparent;
		border-width: 0;
		display: inline-block;
		list-style: none outside none;
		&:last-child {
			color: inherit;
			&:after {
				display: none;
				[dir='rtl'] & {
					display: none;
				}
			}
		}
		&:after {
			content: $vui-separator;
			display: inline-block;
			height: 1rem;
			padding-left: .5rem;
			padding-right: .5rem;
			vertical-align: middle;
			[dir='rtl'] & {
				content: $vui-separator-rtl;
			}
		}
		& > a {
			@include vui-link;
		}
	}

}
